/.idea/.idea.Issatays.Ftgo.Logger/.idea/.gitignore
/.idea/.idea.Issatays.Ftgo.Logger.dir/.idea/.gitignore
/src/Issatays.Ftgo.Logger/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/.idea/.idea.Issatays.Ftgo.Logger.dir/.idea/indexLayout.xml
/src/Issatays.Ftgo.Logger/obj/Debug/net8.0/Issatays.Ftgo.Logger.AssemblyInfoInputs.cache
/src/Issatays.Ftgo.Logger/obj/Debug/net8.0/Issatays.Ftgo.Logger.assets.cache
/src/Issatays.Ftgo.Logger/obj/Issatays.Ftgo.Logger.csproj.nuget.dgspec.json
/src/Issatays.Ftgo.Logger/obj/Issatays.Ftgo.Logger.csproj.nuget.g.props
/src/Issatays.Ftgo.Logger/obj/Issatays.Ftgo.Logger.csproj.nuget.g.targets
/src/Issatays.Ftgo.Logger/obj/Debug/net8.0/Issatays.Ftgo.Logger.GeneratedMSBuildEditorConfig.editorconfig
/src/Issatays.Ftgo.Logger/obj/project.assets.json
/src/Issatays.Ftgo.Logger/obj/project.nuget.cache
/src/Issatays.Ftgo.Logger/obj/project.packagespec.json
/src/Issatays.Ftgo.Logger/obj/rider.project.model.nuget.info
/src/Issatays.Ftgo.Logger/obj/rider.project.restore.info
/.idea/.idea.Issatays.Ftgo.Logger.dir/.idea/vcs.xml
/.vs/Issatays.Ftgo.Logger
/src/Issatays.Ftgo.Logger/bin/Debug
